body {
    margin: 0;
}

.stripe {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.first {
    background: linear-gradient(to right, red, blue);
    color: white;
}

.second {
    background: linear-gradient(to right, red, red 50%, blue 50%, blue);
    color: white;
}

.third {
    background-color: blueviolet;
    background-image: repeating-linear-gradient(45deg,
            transparent,
            transparent 10px,
            yellowgreen 10px,
            yellowgreen 30px);
    color: white;
}

.fourth {
    background: repeating-radial-gradient(
        circle at 50%,
        #1A1A1A,
        #1A1A1A 10px,
        #2A2A2A 10px,
        #2A2A2A 20px
    );
    color: white;
}